@font-face {
    font-weight: 700;
    font-family: 'Catamaran', sans-serif;
    src: url("../fonts/Catamaran-Bold.ttf");
}

@font-face {
    font-weight: 400;
    font-family: 'Catamaran', sans-serif;
    src: url("../fonts/Catamaran-Regular.ttf");
}


@font-face {
    font-weight: 600;
    font-family: 'Catamaran', sans-serif;
    src: url("../fonts/Catamaran-Medium.ttf");
}



html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    font-size: 16px;
    font-family: 'Catamaran', sans-serif;
}

/* Global styles */
.container{
    max-width: 1920px;
    padding:0 90px;
    margin: auto;
}


.visually-hidden{
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}
.dropdown{
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding: 10px;
}

.dropdown:after{
    content: "";
    width: 16px;
    height: 16px;
    margin-left: 10px;
    background: url("../img/arrow-down.png") no-repeat;
}
.dropdown:hover > .dropdown__items{
    opacity: 1;
    visibility: visible;
}
.dropdown__items{
    position:absolute;
    top:100%;
    list-style: none;
    margin: 0;
    padding: 0;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.64));
    width: 100%;
    opacity: 0;
    visibility: hidden;

    transition: opacity .5s ease, visibility .5s ease;
}

.dropdown__item{
    display: flex;
}

.dropdown__link{
    text-decoration: none;
    width: 100%;
    padding: 3px 11px;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    background: white;
}

.dropdown__link:hover{
    background: #F7F7F7;
}

.btn-danger{
    background: #D22238;
    border-radius: 10px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding: 10.97px 24px;
    outline: none;
    border: none;
}
.btn-danger:hover{
    opacity: 0.85;
    cursor: pointer;
}
.btn-danger:active{
    opacity: 0.5;
}



/* Header styles */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 20px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 99;
}


.logo__img{
    display: block;
}
.nav{
    display: flex;
    list-style: none;
    align-items: center;
}

.nav__item{
    margin: 0 20px;
}

.nav__link{
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #000000;
    text-decoration: none;
}

.nav__item:hover > .nav__link,
.nav__item:hover::after{
   opacity: 0.5;
}

.lang{
    padding: 10px;
}

.lang__current{
    text-decoration: none;
    color: #000000;

}

.lang:hover > .lang__current,
.lang:hover::after{
    opacity: 0.5;
}
.lang__flag{
    margin-right: 10px;
}

.lang__items{
    width: 100%;
}


/* Hero styles */

.hero{
    padding-top: 168px;
    padding-bottom: 168px;
    display: flex;
    position: relative;
}

.hero::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/hero-img.png") no-repeat;
    background-size:contain;
    background-position: right 0 top 0;
}

.hero::before{
    content:"";
    width: 248px;
    height: 244px;
    background: url("../img/design-awards.png") no-repeat;
    background-size: contain;
    background-position: center bottom 0;
    position: absolute;
    right: 150px;
    bottom: 0;
    z-index: 3;
}

.hero__info{
    width: 50%;
    padding-right: 42.5px;
    position: relative;
    z-index: 9;
}

.hero__info::after{
    content: "";
    position: absolute;
    left:calc( 100% + 20px);
    bottom: 51px;
    width: 170px;
    height: 170px;
    background:url("../img/ellipse.png") no-repeat;
    background-size: 100%;

}

.hero__title{
    font-weight: 700;
    font-size: 50px;
    line-height: 72px;
    letter-spacing: 0.02em;
    color: #000000;
    margin: 20px 0;
}

.hero__description{
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #3D3D3D;
}

.hero__form{
    border: 1px solid #E0E0E0;
    border-radius: 15px;
    padding: 7px 8px;
    display: flex;
    margin-top: 52px;
}

.hero__form__email{
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #858585;
    flex-grow: 1;
    border: none;
    outline: none;
}

.hero__form__hint{
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #858585;
}
.hero__form__hint > span{
    color: #D22238;
    font-weight: 600;
}

/* Solutions section styles */

.solutions{
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 137px;
    padding-bottom:137px ;
}

.solutions__info{
    padding: 30px 50px;
    width: 50%;
    margin-left: auto;
}

.solutions__title{
    font-weight: 700;
    font-size: 46px;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: #000000;
}

.solutions__description{
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #3D3D3D;

}

.counter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.counter__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.33%;
}
.counter__title{
    width: 100%;
     font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 0.02em;
    background: linear-gradient(180deg, #F00000 0%, #9109F7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 0;
    text-align: center;
}
.counter__item > span{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.02em;
    background:none;
    color: #858585;
}

.counter__item:nth-child(2){
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

.solutions__btn{
    margin-top: 20px;
}

.solutions::before,
.solutions::after{
    content: "";
    height: 494.81px;
    width: 25%;
    
}

.solutions::before{
    order: -2;
    background-color: red;
    background: url("../img/solutions-first.png") no-repeat;
    background-size: contain;
    margin-bottom: auto;
}

.solutions::after{
    order: -1;
    background-color: red;
    background: url("../img/solutions-second.png") no-repeat;
    background-size: contain;
    margin-top: auto;
}